{
    "ecmaFeatures": {
        "blockBindings": true,
        "jsx": true,
        "classes": true,
        "arrowFunctions": true,
        "sourceType": "modules"
    },
    "rules": {
        "quotes": [2, "single"]
    }
}
